.container {
    max-width: 800px;
    margin: auto;
    margin-top: 2%;
}

.form-produto {
    background-color: #3A3055;
    padding: 20px;
    border-radius: 8px;
}

.form-produto label {
    color: #E0E0E0;
    display: block;
    margin-bottom: 10px;
}

.form-produto .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #7E57C2;
    color: #E0E0E0; 
    background-color: #2C2A3E;
}

.form-produto .form-control:focus {
    border-color: #B388FF;
    box-shadow: none;
    outline: none;
}

.form-produto button {
    background-color: #7E57C2;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 8px;
    background-color: #2C2A3E;
    border: 1px solid #5E35B1;
    text-align: left;
    color: #E0E0E0;
}

.table th {
    background-color: #5E35B1;
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #7E57C2;
    border-color: #5E35B1;
}

.btn-info {
    color: #fff;
    background-color: #9575CD;
    border-color: #7E57C2;
}

.btn-warning {
    color: #fff;
    background-color: #D4AFFF;
    border-color: #B388FF;
}

.btn-danger {
    color: #fff;
    background-color: #B6174B;
    border-color: #880E4F;
}

.btn-secondary {
    color: #fff;
    background-color: #6C757D;
    border-color: #5A6268;
}
